{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkbox.css' %}">
    <title>Document</title>
    
</head>
<body >
    <div class="main_container">
        <div class="header">
            <input type="text" class="input_text" placeholder="Напишите сюда новую задачу">
            <button class="submit">Добавить</button>
        </div>
        <div class="boxes">
            <div class="box">
                <div class="box_header">
                    <label class="container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                      <h4>Купить молоко</h4>
                </div>
                <div class="box_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div>
                    <img src="./img/481-4811853_980-x-940-2-star-outline.png" alt="">
                    <img src="./img/96ce8b677c9beba7123d07e91a0e3d77.png" alt="">
                </div>
            </div>
            </div>
            <div class="box marked">
                <div class="box_header">
                    <label class="container">
                        <input type="checkbox" checked="unchecked">
                        <span class="checkmark"></span>
                      </label>
                      <h4>Купить молоко</h4>
                </div>
                <div class="box_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div>
                    <img src="./img/481-4811853_980-x-940-2-star-outline.png" alt="">
                    <img src="./img/96ce8b677c9beba7123d07e91a0e3d77.png" alt="">
                </div>
            </div>
            </div>
            <div class="box finished">
                <div class="box_header">
                    <label class="container">
                        <input type="checkbox" checked="unchecked">
                        <span class="checkmark"></span>
                      </label>
                      <h4>Купить молоко</h4>
                </div>
                <div class="box_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div>
                    <img src="./img/481-4811853_980-x-940-2-star-outline.png" alt="">
                    <img src="./img/96ce8b677c9beba7123d07e91a0e3d77.png" alt="">
                </div>
            </div>
            </div>
            <div class="box marked">
                <div class="box_header">
                    <label class="container">
                        <input type="checkbox" checked="unchecked">
                        <span class="checkmark"></span>
                      </label>
                      <h4>Купить молоко</h4>
                </div>
                <div class="box_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div>
                    <img src="./img/481-4811853_980-x-940-2-star-outline.png" alt="">
                    <img src="./img/96ce8b677c9beba7123d07e91a0e3d77.png" alt="">
                </div>
            </div>
            </div>
            <div class="box">
                <div class="box_header">
                    <label class="container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                      <h4>Купить молоко</h4>
                </div>
                <div class="box_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div>
                    <img src="./img/481-4811853_980-x-940-2-star-outline.png" alt="">
                    <img src="./img/96ce8b677c9beba7123d07e91a0e3d77.png" alt="">
                </div>
            </div>
            </div>
            <div class="box finished">
                <div class="box_header">
                    <label class="container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                      <h4>Купить молоко</h4>
                </div>
                <div class="box_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div>
                    <img src="./img/481-4811853_980-x-940-2-star-outline.png" alt="">
                    <img src="./img/96ce8b677c9beba7123d07e91a0e3d77.png" alt="">
                </div>
            </div>
            </div>
            <div class="box">
                <div class="box_header">
                    <label class="container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                      <h4>Купить молоко</h4>
                </div>
                <div class="box_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div>
                    <img src="./img/481-4811853_980-x-940-2-star-outline.png" alt="">
                    <img src="./img/96ce8b677c9beba7123d07e91a0e3d77.png" alt="">
                </div>
            </div>
            </div>
            
        </div>
    </div>
    <script src="./js/java.js"></script>

</body>
</html>